div {
    border: solid 5px black;
    height: 15px;
    width: 30px;
    text-align: center;
}

div .timer{
    border: solid 5px black;
    height: 15px;
    width: 30px;
    position: fixed;
    text-align: center;
}

div button {
    width: 30px;
    height: 30px;
}